/* import fonts */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* CSS Variables */
:root{
    --primary-color : #86C232;
    --borer-color : #f0dddd;
    --black-color : #2b2d42;
    --white-color : #f6f3f3e3;
    --primary-font : 'Poppins', sans-serif;
    --secondary-font : 'Bebas Neue', sans-serif;
}

* {
    margin : 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: var(--primary-font);
    background: #F8F9FA; /* Fallback */
    background: -webkit-linear-gradient(to right, #F8F9FA, #F8F9FA, #F8F9FA);
    background: linear-gradient(to right, #F8F9FA, #F8F9FA, #F8F9FA);
}

h1,
h2,
h3,
h4,
h5,
h6{
    font-family: var(--primary-font);
}

a{
    text-decoration: none;
    color: inherit;
}

ul{
    list-style: none;
}

img{
    max-width: 100%;
}

.heading__title{
    font-size: calc(36px + 8 * ((100vw - 320px) / 680));
    font-weight: 200;
    text-align: center;
    font-family: var(--primary-font);
}

/* header styling */
header {
    display: flex;
    justify-content: center;
    z-index: 1000;
    position: fixed;
    width: 100%;
    background-color: #007bff;
}

header .container {
    width: 80%;
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 1rem 0;
    position: relative;
}

header .container nav {
    border-radius: 0.2rem;
    position: absolute;
    right: 0;
    top: 6vh;
    /* background-color: #ffe600; */
}

header .container nav ul {
    display: flex;
    flex-direction: column;
    align-content: center;
    color: var(--black-color);
    background-color: var(--white-color);
    width: 150px;
    height: 120px;
    overflow: initial;
    opacity: 1;
    border-radius: 0.2rem;
    transition: all 0.4s ease-out;
}

header .container nav ul li {
    padding: 1rem 2rem;
    text-align: center;
}

header .container nav ul li a {
    font-weight: 500;
}

header .container nav ul li a:hover {
    color: var(--primary-color);
}

header .container nav ul.show {
    height: 0;
    overflow: hidden;
    opacity: 0;
}

header .container.handburger-menu {
    display: flex;
    gap: 0.7rem;
    cursor: pointer;
    font-size: 1.5rem;
    color: var(--white-color);
}

header .container.handburger-menu .handburger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    position: relative;
}

header .container.handburger-menu .handburger span {
    display: block;
    width: 1.5rem;
    height: 2px;
    background-color: var(--borer-color);
    margin: 0.20rem 0;
}

/* ----------- header styling ----------- */

/* hero section styling */

.hero-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #4e54c8;
    background: -webkit-linear-gradient(to right, #8f94fb, #4a54c8);
    background: linear-gradient(to right, #8f94fb, #4e54c8);
}

.hero-section .container .title {
    font-size: 20vw;
    font-weight: 400;
    color: var(--white-color);
    text-align: center;
    font-family: var(--secondary-font);
    font-style: normal;
    line-height: 0.9;
}

.hero-section .container .post {
    font-size: 2rem;
    color: var(--white-color);
    text-align: center;
    margin-top: 1rem;
    font-family: var(--secondary-font);
}

.hero-section .container .particles .rectangle {
    width: 40px;
    height: 40px;
    background-color: rgba(226, 219, 219, 0.5);
    box-shadow: 9px 29x 13px rgba(41, 40, 40, 0.2);
    border-radius: 6px;
    position: absolute;
    top: 10vw;
    left: 44vw;
    z-index: 1;
    transform: rotate(45deg);
}

.hero-section .container .particles .rectangle._0 {
    top: 15vh;
    left: 19vw;
}

.hero-section .container .particles .rectangle._1 {
    top: 30vh;
    left: 76vw;
    transform: scale(0.8) rotate(20deg);
}

.hero-section .container .particles .rectangle._2 {
    top: 75vh;
    left: 94vw;
}

.hero-section .container .particles .rectangle._3 {
    top: 73vh;
    left: 3vw;
    transform: scale(0.7) rotate(20deg);
}

/* ----------- header styling ----------- */


/* ----------- work section styling ------------ */

#work {
    margin: 0rem 3rem;
}

#work .work-title {
    height: 13vh;
    margin-bottom: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#work .work-grid {
    display: grid;
    grid-template-columns: 3fr 7fr;
    gap: 0.5rem;
}

#work .work-grid:nth-child(odd) {
    grid-template-columns: 7fr 3fr;
    padding-top: 0.5rem;
}

#work .work-grid .work-item > img {
    width: 100%;
    height: 100%;
    max-height: 100%;
    object-fit: cover;
    filter: brightness(0.5);
    cursor: pointer;
}

#work .work-grid .work-item > img:hover {
    filter: brightness(0.8);
}

/* ----------- work section styling ------------ */


/* ido styling */

#ido{
    margin: 0rem 3rem;
}

#ido .container{
    padding: 5rem 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#ido .container .ido-title{
    width: 100%;
    height: 13vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#ido .container .ido-content{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#ido .container .ido-content .ido-item{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

#ido .container .ido-content .ido-item .svg{
    width: 2rem;
    height: 2rem;
    align-items: center;
}

#ido .container .ido-content .ido-item .h3{
    font-size: calc(26px + 8 * ((100vw - 320px) / 680));
    font-weight: 500;
    text-transform: uppercase;
    
}
/* ------------ ido styling ------------- */

/* about me styling */

#about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#about .container{
    padding: 5rem 3rem;
    width: 40%;
}

#about .container .p{
    text-align: center;
    font-style: italic;
    font-weight: 500;
}

#about .parallax{
    background-image: url('/assets/img_9.jpg');
    height: 50vh;
    width: 100%;
    /* create parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* ------------ about me styling ------------- */